////////////////////////////////
// Common applications
Super+Space{
  @press {
    - "yofi"
  }
}
Super+q {
  @press {
    - r#"niri msg action "close-window""#
  }
}
Super+Enter {
  @press {
    - "kitty -e fish"
  }
}
// Common utils
brightness_up {
  @press repeat=true { 
    - "light -A 10"; 
  }
}
brightness_down {
  @press repeat=true { 
    - "light -U 10"; 
  }
}
// Submap
Super {
  @release {
    // enter a submap
    - r#"notify-send -a mudras  "enter window_manager""#
    @enter "window_manager"
  }
}

////////////////////////////////
// Focus
// Super+f {
//   @press {
//     - r#"niri msg action "center-column""#
//   }
// }
// Super+m {
//   @press {
//     - r#"niri msg action "focus-column-left""#
//   }
// }
// Super+n { 
//   @press {
//     - r#"niri msg action "focus-window-down""#; 
//   }
// } 
// Super+e { 
//   @press {
//     - r#"niri msg action "focus-window-up""#; 
//   }
// } 
// Super+i {
//   @press {
//     - r#"niri msg action "focus-column-right""#
//   }
// }

////////////////////////////////
// Submap definition
@submap name="window_manager" {
  // Exit the submap
  Super { 
    @release {
      - r#"notify-send -a mudras  "exit window_manager""#
      @exit
    }
  }
  Escape {
    @press {
      @exit
    }
  }

  // Focus
  f {
    @press {
      - r#"niri msg action "center-column""#
    }
  }
  m {
    @press {
      - r#"niri msg action "focus-column-left""#
    }
  }
  n { 
    @press {
      - r#"niri msg action "focus-window-down""#; 
    }
  } 
  e { 
    @press {
      - r#"niri msg action "focus-window-up""#; 
    }
  } 
  i {
    @press {
      - r#"niri msg action "focus-column-right""#
    }
  }

  // Resize
  Shift_L+m {
    @press {
      - r#"niri msg action "switch-preset-window-width-back""#
    }
  }
  Shift_L+n {
    @press {
      - r#"niri msg action "switch-preset-window-height""#
    }
  }
  Shift_L+e {
    @press {
      - r#"niri msg action "switch-preset-window-height-back""#
    }
  }
  Shift_L+i {
    @press {
      - r#"niri msg action "switch-preset-window-width""#
    }
  }

  // Move
  Ctrl+m {
    @press {
      - r#"niri msg action "move-column-left""#
    }
  }
  Ctrl+n {
    @press {
      - r#"niri msg action "move-window-down""#
    }
  }
  Ctrl+e {
    @press {
      - r#"niri msg action "move-window-up""#
    }
  }
  Ctrl+i {
    @press {
      - r#"niri msg action "move-column-right""#
    }
  }
}

