// Common applications
Super+Space{
  @press {
    - "yofi";
  }
}
Super+q {
  @press {
    - r#"niri msg action "close-window""#
  }
}
Super+Enter {
  @press {
    - "kitty -e fish"
    - r#"notify-send -a mudras "new term""#
  }
}

// Test
Super+T {
  @press {
    - "kitty -e fish"
    - r#"notify-send -a mudras "testing command""#
  }
}

// Resize windows
Super+Shift_L+m {
  @press {
    - r#"notify-send -a mudras "resize window""#
    - r#"niri msg action "switch-preset-window-width-back""#
  }
}
Super+Shift_L+n {
  @press {
    - r#"notify-send -a mudras "resize window""#
    - r#"niri msg action "switch-preset-window-height""#
  }
}
Super+Shift_L+e {
  @press {
    - r#"notify-send -a mudras "resize window""#
    - r#"niri msg action "switch-preset-window-height-back""#
  }
}
Super+Shift_L+i {
  @press {
    - r#"notify-send -a mudras "resize window""#
    - r#"niri msg action "switch-preset-window-width""#
  }
}

// Super+m { 
//   @press {
//     - r#"niri msg action "focus-column-left""#; 
//   }
// } 
// Super+n { 
//   @press {
//     - r#"niri msg action "focus-window-down""#; 
//   }
// } 
// Super+n { 
//   @press {
//     - r#"niri msg action "focus-window-up""#; 
//   }
// } 
// Super+i { 
//   @press {
//     - r#"niri msg action "focus-column-right""#; 
//   }
// } 


// Submap
Super {
  @release {
    // enter a submap
    - r#"niri msg action "open-overview""#
    @enter "window_manager"
  }
}


// Submap definition
@submap name="window_manager" {
  Ctrl+m {
    @press {
      - "notify-send 'niri mcl'"
      - "niri msg move-column-left"
    }
  }
  Ctrl+i {
    @press {
      - "niri msg move-column-right"
    }
  }

  // Exit the submap
  Super { 
    @press {
      @exit; 
    }
  }
  Escape { 
    @press {
      @exit; 
    }
  }
}

// Common utils
XF86MonBrightnessUp {
  @press repeat=true { 
    - "light -A 10"; 
  }
}
XF86MonBrightnessDown {
  @press repeat=true { 
    - "light -U 10"; 
  }
}
