Super+Enter {
  @press {
    - "kitty -e fish"
    - r#"
      notify-send "new term"
      "#
  }
}

Super {
  @release {
    // enter a submap
    @enter "niri"
  }
}

// Submap definition
"@submap niri" {
  Ctrl+m {
    @press {
      - "niri msg move-column-left"
    }
  }
  Ctrl+i {
    @press {
      - "niri msg move-column-right"
    }
  }

  // Exit the submap
  Super { 
    @press {
      @exit; 
    }
  }
  Escape { 
    @press {
      @exit; 
    }
  }
}

// // Common applications

// @press Super+Space {
//   yofi;
// }
//
// // Common utils
// @repeat XF86MonBrightnessUp { 
//   light -A 10; 
// }
// @repeat XF86MonBrightnessDown { 
//   light -U 10; 
// }
